.groupManagement {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.differentRow {
  background-color: var(--error-color);
  color: var(--neutral-white);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){
  background-color: var(--neutral-100);
}

.diffTable tr:nth-child(even){
  background-color: transparent;
}

.table tr:hover {
  background-color: var(--neutral-200);
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: var(--neutral-white);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0;
}
